<button  [attr.data-modal-target]="'edit-modal-' + codigoProduto"
[attr.data-modal-toggle]="'edit-modal-' + codigoProduto" class="block text-white bg-standard-blue hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-standard-blue dark:hover:bg-standard-blue dark:focus:ring-blue-800" type="button">
  Editar
</button>

<!-- Main modal -->
<div [id]="'edit-modal-' + codigoProduto" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Editar produto
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" [attr.data-modal-hide]="'edit-modal-' + codigoProduto">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- <p>ID: #{{idProduto}}</p> -->
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">
              <form class="max-w-sm mx-auto">
                <div class="mb-5">
                  <label for="nomeProduto" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nome do Produto</label>
                  <input type="text" name="nomeProduto" id="nomeProduto" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="Nome do produto" required value="{{nomeProduto}}" #nomeProdutoAtualizado>
                </div>
                <div class="mb-5">
                  <label for="codigoProduto" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Código</label>
                  <input type="text" name="codigoProduto" id="codigoProduto" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="001" (input)="validarNumero($event)"  required value="{{codigoProduto}}" #codigoProdutoAtualizado>
                </div>
                <div class="mb-5">
                  <label for="precoProduto" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Preço</label>
                  <input type="text" name="precoProduto" currencyMask [options]="{ prefix: 'R$ ', align: 'left'}"  id="precoProduto" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="R$ 00.00" required value="{{precoProduto}}" #precoProdutoAtualizado>
                </div>
                <div class="mb-5">
                  <label for="descricaoProduto" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descrição</label>
                  <textarea id="descricaoProduto" name="descricaoProduto" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Descreva o produto" required value="{{descricaoProduto}}" #descricaoProdutoAtualizado></textarea>
                </div>

              </form>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button [attr.data-modal-hide]="'edit-modal-' + codigoProduto" type="button" class="text-standard-white bg-standard-blue hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-standard-blue dark:hover:bg-blue-700 dark:focus:ring-blue-800" (click)="editarDados(idProduto, nomeProdutoAtualizado.value, codigoProdutoAtualizado.value, precoProdutoAtualizado.value, descricaoProdutoAtualizado.value)" [disabled]="!nomeProdutoAtualizado.value || !codigoProdutoAtualizado.value || !precoProdutoAtualizado.value || !descricaoProdutoAtualizado.value">Editar</button>
                <button [attr.data-modal-hide]="'edit-modal-' + codigoProduto" type="button" class="ms-3 text-standard-white bg-red-danger hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-red-danger dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Cancelar</button>
            </div>
        </div>
    </div>
</div>
